<div>
  <div class="flexRow">
    <p class="font-weight-bold">User info</p>
  </div>

  <div class="warpInfo">
    <div class="flexRow">
      <h6 class="font-weight-normal m">Name:</h6>
      <p class="font-weight-lighter m">{{ user.name }}</p>
    </div>

    <div class="flexRow">
      <h6 class="font-weight-normal m">Email:</h6>
      <p class="font-weight-lighter m">{{ user.email }}</p>
    </div>

    <div class="flexRow">
      <h6 class="font-weight-normal m">Phone:</h6>
      <p class="font-weight-lighter m">{{ user.phone }}</p>
    </div>

    <div class="flexRow">
      <h6 class="font-weight-normal m">Company:</h6>
      <p class="font-weight-lighter m">{{ user.company.name }}</p>
    </div>

    <div class="flexRow">
      <h6 class="font-weight-normal m">Website:</h6>
      <p class="font-weight-lighter m">{{ user.website }}</p>
    </div>
  </div>
</div>
