:host {
  display: block;
  text-align: left;
  padding: 1em;
  font-size-adjust: 1;
}

.flexRow {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1%;
}
// h6 {
//   margin: auto;
// }
// p {
//   margin: auto;
// }

.m {
  margin: calc(1em / 9);
  // margin: auto;
  margin-right: 1em;
}
.warpInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
