:host {
  display: block;
  text-align: center;
  padding: 1em;
  font-size-adjust: 1;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
h6 {
  margin: auto;
}
p {
  margin: auto;
}
