<div>
  <div class="flexRow">
    <h3 class="font-weight-bold">User info</h3>
  </div>

  <div class="warpInfo">
    <div class="flexRow">
      <p class="font-weight-normal m text-left">Name:</p>
      <p class="font-weight-lighter m text-left">{{ user.name }}</p>
    </div>

    <div class="flexRow">
      <p class="font-weight-normal m text-left">Email:</p>
      <p class="font-weight-lighter m text-left">{{ user.email }}</p>
    </div>

    <div class="flexRow">
      <p class="font-weight-normal m text-left">Phone:</p>
      <p class="font-weight-lighter m text-left">{{ user.phone }}</p>
    </div>

    <div class="flexRow">
      <p class="font-weight-normal m text-left">Company:</p>
      <p class="font-weight-lighter m text-left">{{ user.company.name }}</p>
    </div>

    <div class="flexRow">
      <p class="font-weight-normal m">Website:</p>
      <p class="font-weight-lighter m">{{ user.website }}</p>
    </div>
  </div>
</div>
