<!-- <div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">User Info</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h6>Name</h6>
      <p class="card-text">{{ user.name }}</p>
    </li>
    <li class="list-group-item">
      <h6>Email</h6>
      <p class="card-text">{{ user.email }}</p>
    </li>
    <li class="list-group-item">
      <h6>Phone</h6>
      <p class="card-text">{{ user.phone }}</p>
    </li>
  </ul>
</div> -->

<div>
  <p class="font-weight-bold">User info</p>
</div>

<div>
  <h6 class="font-weight-normal">Name:</h6>
  <p class="font-weight-lighter">{{ user.name }}</p>
</div>

<div>
  <h6 class="font-weight-normal">Email:</h6>
  <p class="font-weight-lighter">{{ user.email }}</p>
</div>

<div>
  <h6 class="font-weight-normal">Phone:</h6>
  <p class="font-weight-lighter">{{ user.phone }}</p>
</div>

<div>
  <h6 class="font-weight-normal">Company:</h6>
  <p class="font-weight-lighter">{{ user.company.name }}</p>
</div>

<div>
  <h6 class="font-weight-normal">Website:</h6>
  <p class="font-weight-lighter">{{ user.website }}</p>
</div>
