.details {
  display: grid;
  text-align: left;
  padding: 1em;
  grid-template-areas: "a" "b";
}

.title {
  grid-area: a;
  display: grid;
  text-align: left;
  grid-template-areas: "title button";
  grid-template-columns: 70% 25%;
  gap: 5%;
}
h3 {
  text-decoration: underline #007bff;
}

.body {
  grid-area: b;
}
.column {
  display: flex;
}

.button {
  margin: auto;
}
