<app-toast></app-toast>
<ng-container *ngIf="load">
  <div class="userPostDetails">
    <div class="postDetails border border-primary">
      <app-post-details [post]="post"
        ><button
          class="btn btn-white text-primary rounded-pill border border-primary"
          (click)="editPost()"
        >
          Edit Post
        </button></app-post-details
      >
    </div>
    <div class="userDetails border border-primary">
      <app-user-info [user]="user"></app-user-info>
    </div>
  </div>

  <div class="postComments border border-primary">
    <div class="title border-bottom border-primary">
      <h3 class="ont-weight-light">Post Comments</h3>
    </div>

    <div class="comments">
      <app-post-comment
        *ngFor="let comment of comments"
        [comment]="comment"
      ></app-post-comment>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!load">
  <div class="spinner-grow text-primary centerMe" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-container>
