<div
  class="header navbar-light bg-light padding p-0 border border-primary border-top-0 border-right-0 border-left-0"
>
  <app-navigation></app-navigation>
</div>
<div class="main container-fluid d-flex padding p-0">
  <div class="scroll">
    <router-outlet></router-outlet>
  </div>
</div>

<div
  class="footer border border-primary border-bottom-0 border-right-0 border-left-0"
>
  <div class="d-flex justify-content-around">
    <p class="text-center margin m-auto font-weight-normal">
      Developed by:
      <i class="font-weight-light">Mladen Blagovcanin</i>
      <span class="margin ml-1"
        ><a href="https://github.com/Ma5ha/post-mangment.git" target="_blank">
          <img class="text-center margin m-auto" src="/assets/github.svg" /></a
      ></span>
    </p>
  </div>
</div>
