:host {
  position: relative;
  height: auto;
  display: contents;
  // background: linear-gradient(to-right, #007bff, white);
}

div {
  height: 10vh;
}

ul {
  // background: linear-gradient(
  //   174deg,
  //   #007bff -10%,
  //   white 10%,
  //   white 40%,
  //   #007bff 109%
  // );
  // height: 100%;
  // width: 100%;
}

.active {
  color: black;
}

nav {
  width: 100%;
}
