<!-- <div class="navbar bg-primary">
  
  <div class="navbar-brand"><ng-content></ng-content></div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</div> -->

<ul class="nav">
  <li class="navbar-brand">
    <ng-content></ng-content>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/comments']" routerLinkActive="active"
      >Comments</a
    >
  </li>
</ul>
