:host {
  position: relative;
  height: auto;
  // background: linear-gradient(to-right, #007bff, white);
}

div {
  height: 10vh;
}

ul {
  background: linear-gradient(359deg, #007bff -10%, white 26%);
  height: 100%;
}

.active {
  color: black;
}
